/* 
    Created on : 12.4.2016, 22:08:24
    Author     : Miso2
*/
body {
	font-family: Arial, Helvetica, sans-serif;
	width: 1100px;
	text-align: left;
	margin: 0px auto;
}

textarea {
   font-family: inherit;
   font-size: inherit;
}

#main {
	background: #eee;
}

#header {
	height: 250px;
	background: #408080;
}

#headerBanner {
	height: 200px;
	width: 1100px;
	float: left;
	background: url(images/design/bannerAllsale.png);
	background-position: 0px -13px;
}

#headerBanner a {
	display:block;
	height:100%;
}

#footer {
	height: 50px;
	padding: 5px 0px 0px 0px ;
	clear: left;
	background: #004040;
	text-align: center;
}

#leftColumn {
	width: 200px;
	float: left;
	background: #ccc;
}

#centerColumn {
	padding: 0px 0px 10px 14px;
	width: 860px;
	float: left;
	background: #eee;
}

#indexCenterColumn {
	width: 1100px;
	float: left;
	background: #408080;
}

#loginForm {
	padding: 0px 0px 10px 14px;
}

.featuredBox {
	width: 100%;
	padding: 12px 0px;
	border: 1px;
	border-style: solid;
	border-color: transparent;
	border-top-color: #ccc;
}

.featuredBoxLeft {
	width: 505px;
	margin: 0px 0px 24px 14px;
	float: left;
	background: #ccc;
	padding: 10px 10px 10px 10px;
	border: 1px;
	border-style: solid;
	border-color: transparent;
	border-bottom-color: #ccc;
	background-color: #ffffff;
}

.featuredBoxRight {
	width: 505px;
	margin: 0px 0px 24px 14px;
	float: left;
	background: #ccc;
	padding: 10px 10px 10px 10px;
	border: 1px;
	border-style: solid;
	border-color: transparent;
	border-bottom-color: #ccc;
	background-color: #ffffff;
}

#widgetBar {
	height: 50px;
	width: 1100px;
	float: left;
	background: #004040;
}

.headerWidget {
	padding: 0px 0px 0px 20px;
	margin: 20px 2px 5px;
	float: left;
	line-height: 25px;
	display: block;
	text-align: center;
}

.headerWidget a, .widgetSubmitFlat {
	border: 0px solid #004040;
	cursor: pointer;
	text-decoration: none;
	color: #ffffff;
	background: #004040;
	font-size: medium;
}

.headerWidget a:hover, input[type=submit]:hover {
	text-decoration: underline;
}

.headerWidget .input[type=submit]:hover {
	text-decoration: underline;
}

#switchUserTextInput {
	width: 40px;
}


.categoryLabelText {
	position: absolute;
	line-height: 150%;
	font-size: x-large;
	margin: 3px 10px;
}

.itemDetail {
	width: 100%;
	margin: 16px 0px 0px 0px;
	padding: 10px 0px 10px 10px;
	border: 1px;
	border-style: solid;
	border-color: transparent;
	border-bottom-color: #ccc;
	background-color: #ffffff;
	float: left;
}

h3.itemName {
	word-wrap: break-word;
	margin: 0;
	font-size: 16px;
	line-height: 1.25;
	top: -2px;
}

h3.itemName a {
	text-decoration: none;
}

p.warning {
	color: red;
	margin: 20px 0px 0px 20px;
}

.formError {
	color: red;
}

.itemImage {
	float: left;
	width: 220px;
	height: 220px;
	background: #fff;
	border: 1px solid #aaa;
	margin: 0px 14px 0px 0px;
}

.itemDescription {
	height: 170px;
	margin: 7px 14px 0px 0px;
}

.itemGallery {
	width: 100%;
	height: 175px;
	margin: 16px 0px 0px 0px;
	padding: 0px 10px 10px 0px;
	border: 1px;
	border-style: solid;
	border-color: transparent;
	border-bottom-color: #ccc;
	background-color: #ffffff;
	float: left;
	display:table;
	border-collapse: separate;
	border-spacing: 0px;
}

.galleryThumbnail {
	display: table-cell;
	padding: 10px 0px 0px 10px;
}

.itemBidPlacedFlag {
	margin: 0px 18px 0px 0px;
	border-radius: 3px;
	border: 1px solid #aaa;
	float: left;
}

.itemBidPlacedFlagDiv {
	margin: 0px 5px 0px 0px;
	padding: 1px 4px 1px 4px;
	font-size: small;
	border-radius: 3px;
	border: 1px solid #aaa;
	background-color: #ffff00;
	float: left;
}

.submitButtonLeft {
	font-size: small;
	margin: 0px 5px 0px 0px;
	border-radius: 3px;
	border: 1px solid #aaa;
	cursor: pointer;
	float: left;
}

.submitButtonRight {
	font-size: small;
	border-radius: 3px;
	border: 1px solid #aaa;
	cursor: pointer;
	float: right;
}

.submitButtonMenuRightTop {
	margin: 0px 0px 5px 0px;
	font-size: small;
	border-radius: 3px;
	border: 1px solid #aaa;
	background-color: none;
	cursor: pointer;
}

#menuRightTop {
	padding: 5px 10px 0px 0px;
/* 	background-color: #ffff00; 
	border-radius: 3px;
	border: 1px solid #aaa; */
	height: 158px;
	text-align: right;
	float: right;
}

.menuItem {
	margin: 10px 0px 5px 0px;
	padding: 1px 4px 1px 4px;
	font-size: small;
	border-radius: 3px;
	border: 1px solid #aaa;
	width: 100px;
	cursor: pointer;
	text-align: center;
}

.menuItem a {
	display: block;
	text-decoration: none;
}

.viewBidsAnkor {
	margin: 0px 5px 0px 0px;
	padding: 1px 4px 1px 4px;
	font-size: small;
	border-radius: 3px;
	border: 1px solid #aaa;
	background-color: #d4d4d4;
	float: left;
	text-decoration: none;
}

.bidding {
	float: left;
	margin: 5px 0px 0px 0px;
}

.bidsForItem {
	margin: 0px 0px 15px 0px;
}

.bidAcceptedFlag {
	margin: 0px 5px 0px 0px;
	padding: 1px 4px 1px 4px;
	font-size: small;
	border-radius: 3px;
	border: 1px solid #aaa;
	background-color: #00cc00;
	float: left;
}

.noBidAcceptedWarning {
	margin: 0px 0px 10px 0px;
	padding: 0px 3px 0px 3px;
	display: inline-block;
	border: 0px;
	border: 1px solid #aaa;
	background-color: #ffffff;
	outline: none;
}

.spacer {
	height: 220px;
}

ul.itemList {
	width: 100%;
	padding: 0px;
}

li.itemList  {
	margin: 0px 0px 10px 0px;
	padding: 10px 10px 10px 10px;
	border: 1px;
	border-style: solid;
	border-color: transparent;
	border-bottom-color: #ccc;
	list-style: none outside none;
	background-color: #ffffff;
}

.deleteWarning {
	font-size: large;
	color: #ff0000;
	margin: 0px 0px 15px auto;
	float: right;
}

.pageTitle {
	margin-top: -80px;
	font-size: x-large;
	position: absolute;
	background-color: #f5eabe;
	padding: 7px;
	border-radius: 4px;
}

.categoryButton a {
	margin: 15px 22px;
	padding: 13px;
	display: block;
	background-color: #aaa;
	border-radius: 4px;
	text-decoration: none;
	text-align: center;
}

.categoryContainer {
	width: 872px;
}

.cleaner:after {
	content: "";
	display: table;
	clear: both;
}

.addItemForm {
	margin: 10px 10px 10px 10px;
}

#checkboxGroupAddItem {
	margin: 0px 0px 10px 0px;
}

.modalAlert {
	display: none;
}

label {
	display: inline-block;
	margin-bottom: 2px;
	margin-top: 10px;
}

input[type=text], input[type="password"] {
	margin: 0px 5px 5px 0px;
	padding: 1px 2px 1px 2px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #aaa;
	float: left;
}

input[data-readonly] {
  pointer-events: none;
  background-color: #e9e9e9;
}

.formFloatLeft {
	margin: 0px 0px 5px 0px;
	float: left;
}

#labelFileUpload {
	margin: 0px 0px 10px 0px;
}

.custom-file-input {
	position: relative;
}

.custom-file-input input {
	visibility: hidden;
	width: 100px;
}

.custom-file-input:before {
	font-size: small;
	margin: 0px 5px 0px 0px;
	padding: 3px 7px 1px 7px;
	border-radius: 3px;
	border: 1px solid #aaa;
	cursor: pointer;
	content: "Choose image";
	text-align: center;
	background-color: #ffffff;
	float: left;
}
